@model IEnumerable<CafeWeb.ViewModels.ProductsListViewModel>
<h1>Блюда</h1>

@{
    ViewData["Title"] = "Блюда";

    if (Model != null)
    {
    <table cellpadding="0" cellspacing="0" border="1">
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Описание</th>
                <th>Состав</th>
                <th>Стоимость</th>
            </tr>
   @*        @foreach (var prod in Model.getAllProducts)
        {
                <tr>
                    <td>@prod.Title</td>
                    <td>@prod.ProductType</td>
                    <td>@prod.Description</td>
                    <td>@prod.FoodStaffList</td>
                    <td>@prod.Cost.ToString()</td>
                    
                </tr>
        }*@
        </table>
    }
    else
    {
        <p>Модели нет</p>
    }
}

    <div class="row-mt-5 mb-2">
    @*foreach (var prod in Model.getAllProducts)
    {
        <div class="col-lg-4">
            <img class="img-thumbnail" src="@prod.ValidImage"/>
            <h2>@Html.DisplayNameFor(model => model.Title)</h2>
            <h2>@prod.ProductType</h2>
            <h2>@prod.Description</h2>
            <h2>@prod.FoodStaffList</h2>
            <h2>@prod.Cost.ToString()</h2>
        </div>*@



        @*<div>
            <h2>название: @prod.Title</h2>
            <p>категория: @prod.ProductType</p>
            <p>описание: @prod.Description</p>
            <p>состав: @prod.FoodStaffList</p>
            <p>цена: @prod.Cost.ToString()</p>
        </div>*@

    }
    </div>
    

    
}